{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'loginstyle.css' %}">
    <title>Login and Signup</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card_title">
                <h1 id="formTitle">Login</h1>
            </div>
            <div class="form" id="loginForm">
                <form  method="post">
                    {% csrf_token %}
                    <input type="username" name="username" placeholder="username" id="username"/>
                    <input type="password" name="password" placeholder="Password" id="password"/>
                    <button>Log In</button>
                </form>
                <div class="card_terms">
                    <a href="forgot-password.html">Forgot Password?</a>
                </div>

                <div class="card_terms">
                    <p>Don't have an account? <a href="../student/signup">Sign Up</a></p>
                    
                </div>
            </div>

        </div>  
    </div>

    <script>
    const formToggleText = document.getElementById('formToggleText');
    const loginForm = document.getElementById('loginForm');
    const signupForm = document.getElementById('signupForm');

    formToggleText.addEventListener('click', (event) => {
        if (event.target.id === 'formToggle') {
            if (loginForm.style.display === 'none') {
                loginForm.style.display = 'block';
                signupForm.style.display = 'none';
                formToggleText.innerHTML = "Don't have an account? <a href='#' id='formToggle'>SignUp</a>";
            } else {
                loginForm.style.display = 'none';
                signupForm.style.display = 'block';
                formToggleText.innerHTML = 'Already have an account? <a href="#" id="formToggle">Log In</a>';
            }
        }
    });
</script>

</body>
</html>
